rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Kullanıcının kendi profilini okuma/yazma yetkisi
    match /users/{userId}/profile/{docId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Yöneticilerin diğer kullanıcıların profillerini okuma yetkisi
    match /users/{userId}/profile/{docId} {
      allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)/profile/data).data.role == 'admin';
    }

    // Kullanıcının kendi diğer verilerini okuma/yazma yetkisi (meals, workoutPlans vb.)
    match /users/{userId}/{collection}/{docId} {
      // 'profile' koleksiyonu yukarıda zaten tanımlandığı için hariç tutuyoruz.
      allow read, write: if request.auth.uid == userId && collection != 'profile';
    }

    // Yöneticilerin diğer kullanıcıların antrenman planlarını okuma/yazma (atama) yetkisi
    match /users/{userId}/workoutPlans/{planId} {
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)/profile/data).data.role == 'admin';
    }

    // Herkesin herkese açık profilleri görmesine izin ver.
    match /publicProfiles/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
  }
}