// firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Kullanıcıların kendi profillerine, yemeklerine, antrenman planlarına ve kilo kayıtlarına erişmesine izin ver.
    match /users/{userId}/{collection}/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Herkesin herkese açık profilleri görmesine izin ver.
    // Kullanıcılar sadece kendi herkese açık profillerini yazabilir.
    match /publicProfiles/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}